<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="/style.css?v={% version %}" />
  {% block head %}{% endblock %}
</head>

<div class="min-h-screen flex flex-col">
  <header class="border-4 border-green-400 flex-auto"></header>
  <div class="flex-1 flex flex-col md:flex-row">
    <nav class="border-4 border-yellow-400 w-64"></nav>
    <main class="border-4 border-red-400 flex-1">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>
    <aside class="border-4 border-blue-400 w-1/6"></aside>
  </div>
  <footer class="border-4 border-purple-400 flex-auto"></footer>
</div>

<script src="/js/alpine.js?v={% version %}"></script>

</html>